/* 구글폰트 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Rampart+One&display=swap");
/* font-family: 'Rampart One', cursive; */
/* font-family: 'Bowlby One', cursive; */

/* Main Root Style */
:root {
  /* font-family */
  --ff-kr-roboto: "Roboto", sans-serif;
  --ff-en-roboto: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
